.head1 {
  text-align: center;
}

.head1 div button {
  width: 8rem;
  border-radius: 0.5rem;
  height: 2rem;
}

.head1 div button a {
  text-decoration: none;
  color: black;
}

.head1 p {
  margin-top: 2rem;
}
